<div class="row">
    <div class="col">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" (click)="selectPrimary()">Primary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="selectSecondary()">Secondary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="selectMelee()">Melee</a>
            </li>
        </ul>
    </div>
</div>
<div class="row my-3">
    <div class="col">Total weapons: <strong>{{totalWeapons}}</strong></div>
    <div class="col">{{selected}} weapons: <strong>{{weapons.length}}</strong></div>
    <div class="col">{{selected}} weapons mastered: <strong>{{weaponsMastered}}</strong></div>
</div>
<ul class="list-group list-group-flush">
    <li *ngFor="let weapon of weapons" class="list-group-item">
        <!-- Weapon -->
        <div class="row">
            <div class="col-2">
                <img src="{{weapon.imageName}}" width="100"></div>
            <div class="col-8">
                <h3>{{weapon.name}}</h3>
                <p>{{weapon.description}}</p>
<!--                <div class="progress" *ngIf="warframe.progress > 0" role="progressbar" aria-label="Basic example" [attr.aria-valuenow]="'{{warframe.progress}}'" aria-valuemin="0" aria-valuemax="100">-->
<!--                    <div class="progress-bar"-->
<!--                         [ngStyle]="{width: warframe.progress+'%'}"-->
<!--                         [ngClass]="{'bg-success': warframe.progress === 100}">{{warframe.progress}}%</div>-->
<!--                </div>-->
            </div>
<!--            <div class="col">-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" value="" id="checkBuilt-{{warframe.id}}" (change)="build(warframe.id)" [checked]="warframe.built === true">-->
<!--                    <label class="form-check-label" for="check-{{warframe.id}}">-->
<!--                        Built-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" value="" id="checkMastered-{{warframe.id}}" (change)="master(warframe.id)" [checked]="warframe.mastered === true">-->
<!--                    <label class="form-check-label" for="check-{{warframe.id}}">-->
<!--                        Mastered-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-2">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                        attr.data-bs-target="#collapseComponents-{{weapon.id}}" aria-expanded="false"
                        [attr.aria-controls]="'collapseComponents-{{weapon.id}}'">
                    +
                </button>
            </div>
        </div>
        <!-- Components -->
        <div class="row collapse" id="collapseComponents-{{weapon.id}}">
            <div class="col card" *ngFor="let component of weapon.components">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">
                            <img src="{{component.imageName}}" width="40"></div>
                        <div class="col col-md-8"><strong>{{component.name}}</strong>
                            <p *ngIf="!component.built && !weapon.built">({{component.actualCount ? component.actualCount : 0}}/{{component.itemCount}})</p>
                        </div>
                        <div class="col col-md-2" *ngIf="component.drops.length">
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                                    attr.data-bs-target="#collapseExample-{{component.id}}" aria-expanded="false"
                                    [attr.aria-controls]="'collapseExample-{{component.id}}'">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="row collapse" id="collapseExample-{{component.id}}">
                        <div class="col">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let drop of component.drops">
                                    <div class="row">
                                        <div class="col-12 mb-2">{{drop.location}}</div>
                                        <div class="col-7" [ngStyle]="{color: drop.rarityColor}">{{drop.rarity}}</div>
                                        <div class="col-5" [ngStyle]="{color: drop.rarityColor}">{{(drop.chance * 100).toFixed(2)}}%</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>