<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/warframes" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Warframes</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/weapons" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Weapons</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-3 mb-5">
        <router-outlet></router-outlet>
    </div>
</section>