<div class="row">
    <div class="col">Total warframes: <strong>{{totalWarframes}}</strong></div>
    <div class="col">Mastered warframes: <strong>{{warframesMastered}}</strong></div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <label for="warframeNameControl" class="form-label">Warframe name</label>
            <input type="text" class="form-control" id="warframeNameControl" placeholder="ex: Khora"
                   [formControl]="name" (keyup)="search()">
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAllBuilt">
                    <label class="form-check-label" for="checkAllBuilt">
                        Built
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAllMastered">
                    <label class="form-check-label" for="checkAllBuilt">
                        Mastered
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<ul class="list-group list-group-flush">
    <li *ngFor="let warframe of warframes" class="list-group-item">
        <!-- Warframe -->
        <div class="row">
            <div class="col-2">
                <img src="{{warframe.imageName}}" width="100"></div>
            <div class="col-6">
                <h3>{{warframe.name}}</h3>
                <div class="progress" *ngIf="warframe.progress" role="progressbar" aria-label="Basic example"
                     [attr.aria-valuenow]="'{{warframe.progress}}'" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar"
                         [ngStyle]="{width: warframe.state === 'building' ? '100%' : warframe.progress+'%'}"
                         [ngClass]="{
                            'bg-success': warframe.progress === 100,
                            'progress-bar-striped progress-bar-animated': warframe.state === 'building'
                            }">{{warframe.state === 'building' ? 'Building...' : warframe.progress + '%'}}
                    </div>
                </div>
                <p class="mt-2 small">{{warframe.description}}</p>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column align-items-center">
                    <label for="range-frame-state-{{warframe.id}}"
                           class="form-label">{{warframeStateDisplay(warframe.state)}}</label>
                    <input type="range"
                           class="form-range"
                           min="0"
                           max="3"
                           step="1"
                           value="{{warframeStateStep(warframe.state)}}"
                           (change)="updateWarframeState(warframe.id, $event)"
                           id="range-frame-state-{{warframe.id}}">
                </div>
            </div>
            <div class="col-1">
                <button class="btn btn-outline-secondary float-end" type="button" data-bs-toggle="collapse"
                        attr.data-bs-target="#collapseComponents-{{warframe.id}}" aria-expanded="false"
                        [attr.aria-controls]="'collapseComponents-{{warframe.id}}'">
                    +
                </button>
            </div>
        </div>
        <!-- Components -->
        <div class="row collapse" id="collapseComponents-{{warframe.id}}">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-3 card" *ngFor="let component of warframe.components">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-md-2">
                            <img src="{{component.imageName}}" width="40"></div>
                        <div class="col col-md-8"><strong>{{component.name}}</strong>
                            <p *ngIf="!component.built && (warframe.state !== 'built')">
                                ({{component.actualCount ? component.actualCount : 0}}/{{component.itemCount}})</p>
                        </div>
                        <div class="col col-md-2" *ngIf="component.dropLocations.length">
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                                    attr.data-bs-target="#collapseExample-{{component.id}}" aria-expanded="false"
                                    [attr.aria-controls]="'collapseExample-{{component.id}}'">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="row collapse" id="collapseExample-{{component.id}}">
                        <div class="col px-0">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let dropLocation of component.dropLocations">
                                    <app-drop-location [dropLocation]="dropLocation"></app-drop-location>
                                    <hr *ngIf="component.dropLocations.length > 1">
                                </li>
                                <!--                                <li class="list-group-item" *ngFor="let drop of component.drops">-->
                                <!--                                    <div class="row">-->
                                <!--                                        <div class="col-12 mb-2">{{drop.location}}</div>-->
                                <!--                                        <div class="col-7" [ngStyle]="{color: drop.rarityColor}">{{drop.rarity}}</div>-->
                                <!--                                        <div class="col-5" [ngStyle]="{color: drop.rarityColor}">{{(drop.chance * 100).toFixed(2)}}%</div>-->
                                <!--                                    </div>-->
                                <!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="row" *ngIf="component.isBuildable && warframe.state === 'NA'">
                        <div class="col">
                            <div class="form-check" *ngIf="isBlueprint(component)">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="check-schema-{{component.id}}" (change)="getBp(component.id)"
                                       [checked]="component.blueprint === true">
                                <label class="form-check-label" for="check-schema-{{component.id}}">
                                    Schema
                                </label>
                            </div>
                            <div class="form-check" *ngIf="isBlueprintBuildable(component)">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="check-built-{{component.id}}" (change)="build(component.id)"
                                       [checked]="component.built === true">
                                <label class="form-check-label" for="check-built-{{component.id}}">
                                    Built
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
